*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    color: white;
}
.container{
    margin:0 auto;
    max-width: 1170px;   
}

h1{
    text-align: center;
    color: rgb(255, 0, 102);   
    margin-top: 30px;
}

p{
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* INIZIO CLASSI RIGHE/COLONNE */
.row{
    width: 100%;
    margin: 2em;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.content{
    background-color: rgb(1, 1, 25);
    margin: 10px;
    height: 100px;
    box-shadow:  0px 5px 15px rgba(64, 64, 64, 0.35);  
}
.column{
    float:left;
    width: calc(100% / 3  - 20px);
    padding: 10px
    
}
.content img{
    float: left;
    height: 100px;
    margin-right: 10px;   
}
/* FINE CLASSI RIGHE/COLONNE */

/* CLASSI FORMATTAZIONE TESTO CARDS*/
h2{
    font-size:19px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.content div{
    padding-bottom: 5px;
}

.mail-contact{
    color: aqua;
}